#main{
    background-image: url(/images/sample.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#inside{
    padding: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#continue{
    padding: 1%;
    background-color: darkslategrey;
}

.new{
    color: black;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#login{
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: darkslategrey;
}

#register{
    margin: 10px;
    padding: 10px;
    text-align: right;
    color: white;
    background-color: darkslategrey;
}

.head{
    background-color: gray;
    text-align: right;
    padding: 5px;
}
.s{
    margin: 12px;
}

.header{
    text-align: right;
    padding: 4px;
}